.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h4{
  margin: 30px;
  font-family: 'cooper', cursive;
  text-shadow: 5px 0 #0e2037;
  font-size: 2rem;
  color: rgb(78, 73, 214);
}

p {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.button {
  background-color:rgb(252, 252, 253);
  border: none;
  color: rgb(205, 30, 3);
  padding: 15px 32px;
  text-align: center;
  text-shadow: 2px 0 #0e2037;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: cooper, cursive;

}