#red {
  color: red;
  background: #7c7272;
  padding: 6px 10px;
}
#blue {
  color: blue;
  background: #7c7272;
  padding: 6px 10px;
}
#green {
  color: green;
  background: #7c7272;
  padding: 6px 10px;
}
#yellow {
  color: #CCCC00;
  background: #7c7272;
  padding: 6px 10px;
}